/* The animation code */
@keyframes redToYello {
  from {
    background-color: red;
  }
  to {
    background-color: purple;
  }
}

/* The element to apply the animation to */
.box {
  background-color: red;
}
.animationRedToYellow {
  animation-name: redToYello;
  animation-duration: 4s;
}

@keyframes animateMultipleColor {
  0% {
    background-color: oklch(63.7% 0.237 25.331);
  }
  25% {
    background-color: oklch(76.8% 0.233 130.85);
  }
  50% {
    background-color: oklch(71.5% 0.143 215.221);
  }
  100% {
    background-color: oklch(66.7% 0.295 322.15);
  }
}

.animateMultiColorUsingPercent {
  animation-name: animateMultipleColor;
  animation-duration: 4s;
}

@keyframes animateColorAndPosition {
  0% {
    background-color: oklch(63.7% 0.237 25.331);
    left: 0px;
    right: 0px;
  }
  25% {
    background-color: oklch(76.8% 0.233 130.85);
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: oklch(71.5% 0.143 215.221);
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: oklch(66.7% 0.295 322.15);
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: oklch(65.6% 0.241 354.308);
    left: 0px;
    top: 0px;
  }
}

.animateMultipleColorWithPositon {
  animation-name: animateColorAndPosition;
  animation-duration: 4s;
  animation-delay: 2s;
}
